font-size: 10px;
}
html {
    font-family: sans-serif;

}
* {
    box-sizing: border-box;
}

html {
    display: block;
}
:after, :before {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}